name: "Release"

on:
  release:
    types:
      - "published" 

permissions: {}

jobs:
  release:
    name: "Release"
    runs-on: "ubuntu-latest"
    permissions:
      contents: write
    steps:
      - name: "Checkout the repository"
        uses: "actions/checkout@v4.2.2"

      - name: "Adjust version number"
        shell: "bash"
        run: |
          yq -i -o json '.version="${{ github.event.release.tag_name }}"' \
            "${{ github.workspace }}/dist/manifest.json"

      - name: "ZIP the integration directory"
        shell: "bash"
        run: |
          cd "${{ github.workspace }}/dist"
          zip enhanced-shutter-card.zip -r ./

      - name: "Upload the ZIP file to the release"
        uses: softprops/action-gh-release@v2.2.1
        with:
          files: | 
            ${{ github.workspace }}/dist/enhanced-shutter-card.zip
            dist/enhanced-shutter-card.js
            dist/lit            
            dist/images
